/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilities*/
.border{
    border: black dashed 1px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

/*Header*/
.main-header{
    min-height: 50px;
    padding: 15px;
    background-color:  lightblue;
}

.logo{
    width: 25%;
}

.links{
    width: 50%;
    text-align: center;
}

.login{
    width: 25%;
    text-align: end;
}

.download-section{
    min-height: 300px;
    padding: 25px;
    background-color: blue;
}

.download-image{
    background-color: palevioletred;
    align-items: center;
    height: 250px;
    width: 600px;
}

/*Main*/
.intro-section1{
    height: 400px;
    background-color: white;
    padding: 25px;
}

.intro-section2{
    height: 400px;
    background-color: grey;
    padding: 25px;
}

.intro-section3{
    height: 400px;
    background-color: white;
    padding: 25px;
}

.intro-section4{
    height: 600px;
    background-color: grey;
    padding: 25px;
}

.image{
    background-color: pink;
    height: 350px;
    width: calc(100%/3);
}

.description{
    background-color: rgb(79, 160, 187);
    height: 350px;
    width: calc(100%/3 *2);
}

.final-section{
    background-color: green;
    min-height: 550px;
}

/*Footer*/
.main-footer{
    background-color: rgb(26, 25, 25);
    height: 500px;
    padding: 25px;
}

.contact-section{
    background-color: pink;
    min-height: 450px;
    min-width: 50%;
}

.link-section{
    background-color: aqua;
    min-height: 450px;
    min-width: 50%;
}

.link-section > *{
    width: 25%;
}

.side-footer{
    border: solid white 1px;
    background-color: rgb(26, 25, 25);
    height: 80px;
    padding: 20px;
}
.side-footer-items{
    background-color: aquamarine;
}

.logo-footer{
    height: 40px;
    width: 70px;
    background-color: white;
    text-align: center;
    line-height: 40px;
}

.side-footer > .flex-container{
    justify-content: space-between;
}
